<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main page</title>
</head>
<body>
  <h1>Main page of this app</h1>
  <ul>
    <li>Docker is awesome</li>
    <li>Page was created to set up a docker container from this simple app</li>
    <li><button class="button">Make log</button></li>  
    <li class="logs"></li>
  </ul>
  
  <script>
    const button = document.querySelector('.button')
    button.addEventListener('click', async () => {
      const res = await fetch('/', { method: 'POST' })
      const data = await res.json()

      document.querySelector('.logs').append(data + ' ')
    })
  </script>
</body>
</html>